{% extends "base.html" %}
{% block head %}
  <script src="/static/js/files_handler.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
{% endblock %}
{% block nav %}
	<li><a href="/">Home</a></li>
    <li class="active"><a href="/about">About</a></li>
{% endblock nav %}
{% block content %}
  <div class="container">
  <div class="page-header">
	<h1>About</h1>
  </div>   
    <p>A brief summary on what the checker looks for.</p>
	
  This does a basic check on the accessibility of the PDFs uploaded. This includes :
  <ul>
	<li>Whether or not the document is marked as a "Tagged PDF"</li>
	<li>Counts the different type of heading tags marked in the document</li>
	<li>Marks whether or not any content tagged as a 'Figure' has 
	alternative-text</li>
	<li>Whether or not the document has a main document language 
	specified</li>
  </ul>

  <h4>Structure Tree</h4>
  It is within this structure that the logical structure or the 
  hierarchy of tagged content of the document is held. Based of its existence, 
  one can tell whether or not the document is tagged. This structure 
  is traversed in order to find tags for headings and figures.
  
  <h4>Document Properties</h4>
  There are basic properties of documents that should be set 
  in the document's metadata. 
  <ul>
	<li>Title</li>
	<li>Author</li>
	<li>Keywords</li>
	<li>Subject</li>
  </ul>
  XMP for PDF Documents has been introduced in Acrobat 5. It is a 
  a powerful format for carrying metadata, that will survive between format 
  conversions much better than the document information entries, which can 
  be edited/viewed in <a href="https://helpx.adobe.com/acrobat/using/pdf-properties-metadata.html#view_document_properties">this way</a>.
  </div>
{% endblock content %}