<div class="col-md-4">
	<div id="action_wizard" class="panel-group" style="overflow:scroll;height:530px;">
	<div class="panel panel-info">
	<div class="panel-heading task_headings">
	Accessibility Report
	</div>
		<div class="panel-body task_panel" id="task_panel_0" >
		<ul style="padding-left:15px;">
			<li id="tagged_bool">
			Tagged PDF: <b>{{ data.output.tagged_bool }}</b>
			<div class="well well-sm">
			This signifies that a Structure Tree exists within your document. 
			</div>
			</li>
			{% set tags_info = data.output.tags_info %}
			{% if data.output.tagged_bool %}
				{% set headings = tags_info.headings %}
				{% if headings %}
					<li>Headings Count:
					<ul>
					{% for heading in headings | sort %}
						<li>{{ heading }}: {{ headings[heading] }}</li>
					{% endfor %}
					</ul></li>
				{% else %}
					<li>Need to add headings to your PDF</li>
				{% endif %}
				
				{% set figures = tags_info.figures  %}
				{% if figures %}
					<li>Figures: <ul class="collapsibleList" id="figures_list">
					{% for key,figure_arr in figures %}
						<li>Page {{ key }}
							<ul>{% for figure in figure_arr %}
								<li>MCID: {{ figure.MCID }}</li>
								{% if figure.Warning %}
								<li>Warning: {{ figure.Warning }}</li>
								{% endif %}
								{% if figure.Alt == "None" %}
								<li>Alt: None</li>
								{% else %}
								<li>Alt <ul>
										<li>{{ figure.Alt }}</li>
										</ul></li>
								{% endif %}{% endfor %}
							</ul></li>
					{% endfor %}
					</ul></li>
				{% endif %}
			{% endif %}
			<li>
				<div class="well wll-sm">
				If you would like to edit the document structure such as changing a tag, here's  
				<a href="https://helpx.adobe.com/acrobat/using/editing-document-structure-content-tags.html">how to do so</a>.
				<br>
				To add or edit an image's alternative text, go 
				<a href="http://www.adobe.com/accessibility/products/indesign/alt-text.html">here</a>.
				 Or you could so when you come across an element with a Figure tag when 
				 parsing the document structure, using the directions above.
				</div>
			</li>
			<li>Language assigned to document: <b>{{ data.output.language }}</b>
				<div class="well well-sm">
					It's important for screen readers to know which 
					language they are reading in. If the major language 
					of the document is not in this list, follow this link 
					to get the proper <a href="http://www-01.sil.org/iso639-3/codes.asp?order=639_3&letter=a">ISO code</a> for the language. 
					<br> Finally, go to <a href="https://helpx.adobe.com/acrobat/using/pdf-properties-metadata.html#view_document_properties">here</a> 
					to learn how to edit the main language of the document.
				</div>
			</li>
		</ul>
		</div>
	</div>
	
	<div class="panel panel-info">
	<div class="panel-heading task_headings">
	Document Properties
	</div>
		<div class="panel-body">
		<u>Title:</u> <span class="prop_text" ng-bind="title"></span>
		<br><u>Author:</u> <span class="prop_text" ng-bind="author"></span>
		<br><u>Subject:</u> <span class="prop_text" ng-bind="subject"></span>
		<br><u>Keywords:</u> <span class="prop_text" ng-bind="keywords"></span>
		<br>
		<br>
		<!--<center>
		<button id="edit_prop_btn" class="btn" style="margin-bottom:5px;">Edit Properties</center></button>
		-->
		<div class="well well-sm">If none of these coincide with
		the document's actual properties, go to 
		<a href="https://helpx.adobe.com/acrobat/using/pdf-properties-metadata.html#view_document_properties">this link</a>
		for directions on how to edit it.
		</div>
		</div>
	</div>
	</div>
</div>

<div class="col-md-8">
	<ul class="pager" style="margin:5px;width:795px;">
		<li class="previous" id="prev"><a>Previous</a></li>
		<li><span>Page: <span id="page_num"></span> / <span id="page_count"></span></span></li>
		<li class="next" id="next"><a>Next</a></li>
	</ul>
		
	<canvas id="the-canvas" style="border:1px solid black;height:1029px;width:795px;"></canvas>
</div>
<!--<div class="col-md-3">
</div>-->
<div class="clearfix visible-lg"></div>